[debomatic]
incoming: /root/incoming
debootstrap: debootstrap
architecture: amd64
threads: 3
inotify: True
sleep: 60
logfile: /var/log/debomatic-amd64.log
loglevel: debug

[distributions]
list: /root/amd64.distrib
blacklist:
mapper: {'unstable': 'jessie',
         'stretch-security': 'stretch'}

[chroots]
profile: debomatic
commands: /root/instances/sbuildcommands

[gpg]
gpg: False
keyring: /etc/debomatic/debomatic.gpg
[modules]
modules: True
path: /root/instances/modules
threads: 5
blacklist: Mailer

[autopkgtest]
options = --no-built-binaries

[blhc]
options: --all

[lintian]
options: -i -I -E --pedantic

[piuparts]
options: --log-level=info

[jsonlogger]
jsonfile = /var/log/debomatic-amd64.json
